.forecastDay {
  width: 16%;
  display: inline-block;
  text-align: center;
  background-color: rgb(200, 230, 255);
  border-radius: 10px;
  margin-left: 2.5px;
  border: 0.5px solid black;
}

.forecastDay img {
	width: 50%;
}

.forecastDay p, .forecastTemperature {
	padding: 0.25em 0 0.25em 0;
}

.precip {
  color: rgb(0, 141, 223);
}

.highTemp {
  width: 20%;
  display: inline-block;
}

.lowTemp {
  color: rgb(128, 128, 128);
  width: 20%;
  display: inline-block;
}
