.forecastDay {
  width: 16%;
  display: inline-block;
  text-align: center;
  background-color: white;
}

.forecastDay img {
	width: 50%;
}

.forecastDay p, .forecastTemperature {
	padding-bottom: 0.25em;
}

.precip {
  color: rgb(0, 141, 223);
}

.highTemp {
  width: 20%;
  display: inline-block;
}

.lowTemp {
  color: rgb(128, 128, 128);
  width: 20%;
  display: inline-block;
}
