#temperature p {
  display: inline-block;
}

#specificInfo {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}

#specificInfo #title {
  font-size: 1.5em;
  padding-bottom: 0.5em;
  font-weight: 800;
}
